<div class="container">
  <div class="content">
    <div class="monitored-employees" style="position: relative">
      <div
        style="
          align-items: center;
          display: flex;
          color: black;
          background-color: white;
          font-weight: 400;
          font-size: 22px;
          padding: 24px;
        "
      >
        <span style="width: 100%; text-align: center">Monitoramento</span>
      </div>
      <div
        style="
          display: flex;
          color: black;
          background-color: white;
          font-weight: 400;
          font-size: 16px;
          justify-content: space-around;
          padding-left: 12px;
          padding-bottom: 12px;
        "
      >
        <div style="margin-bottom: 6px; display: flex; flex-direction: column">
          <span style="font-size: 28px; color: blue">{{ users.length }}</span
          ><span style="color: grey; font-size: 14px">funcionários</span>
        </div>
        <div style="margin-bottom: 6px; display: flex; flex-direction: column">
          <span style="font-size: 28px; color: blue">{{
            activeUsers.length
          }}</span
          ><span style="color: grey; font-size: 14px">ativos</span>
        </div>
      </div>
      <div style="display: flex">
        <div
          style="
            display: flex;
            width: 100%;
            padding: 9px 12px 11px;
            border-bottom-left-radius: 21px;
            border-bottom-right-radius: 21px;
            margin-bottom: 12px;
            background-color: white;
            box-shadow: 2px 2px 2px #ececec;
          "
        >
          <input
            style="outline: none; border: 0; width: 90%"
            placeholder="Pesquisa por funcionário"
          />
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            color="primary"
            >search</mat-icon
          >
        </div>
      </div>

      <div style="overflow-y: auto; padding-left: 4px; padding-right: 4px">
        <mat-card
          (click)="userClicked(user)"
          *ngFor="let user of users"
          class="card-employee"
        >
          <div style="display: flex; width: 100%; padding-bottom: 12px">
            <div class="user-photo-wrapper">
              <img
                onerror="this.src='assets/default_user.png';"
                class="user-photo"
                [src]="user.avatarUrl || getAvatar(user.name)"
              />
              <div
                [ngClass]="
                  user.status === 'ONLINE' ? 'status online' : 'status offline'
                "
              ></div>
            </div>
            <div style="flex-direction: column; width: 100%; margin-left: 8px">
              <div
                style="font-weight: 500; font-size: 16px; margin-bottom: 4px"
              >
                {{ user.name }}
              </div>
              <div
                style="
                  display: flex;
                  font-size: 14px;
                  width: 100%;
                  font-weight: 200;
                  font-size: 14px;
                  align-items: center;
                "
              >
                <ng-container *ngIf="!user.locationUpdate; else elseTemplate">
                  <mat-icon
                    style="
                      text-align: center;
                      margin-right: 6px;
                      color: #666666;
                      display: flex;
                      justify-content: center;
                      font-size: 20px;
                      align-items: center;
                    "
                    >location_off</mat-icon
                  >
                  Desabilitado
                </ng-container>
                <ng-template #elseTemplate>
                  <mat-icon
                    style="
                      text-align: center;
                      margin-right: 6px;
                      color: #666666;
                      display: flex;
                      justify-content: center;
                      font-size: 20px;
                      align-items: center;
                    "
                    >update</mat-icon
                  >
                  <span *ngIf="user.locationUpdate">
                    {{ user.locationUpdate }} segundos
                  </span>
                </ng-template>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="map-container" *ngIf="currentFocus" style="position: relative">
      <agm-map
        class="map"
        [fullscreenControl]="true"
        [latitude]="currentFocus.latitude"
        [longitude]="currentFocus.longitude"
        [styles]="mapStyle"
        [maxZoom]="0"
        [zoom]="16"
        (mapClick)="mapClicked($event.coords.lat, $event.coords.lng)"
        style="position: relative"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          color="primary"
          class="toggle-button controls button"
          >search</mat-icon
        >

        <agm-overlay
          *ngFor="let marker of markers"
          [latitude]="marker.latitude"
          [longitude]="marker.longitude"
          [markerDraggable]="false"
          contextmenu="#menu"
          (markerClick)="selectMarker($event, marker, infoWindow)"
        >
          <div class="user-photo-wrapper">
            <img
              onerror="this.src='assets/default_user.png';"
              class="user-photo"
              [src]="marker.icon.url"
            />
          </div>
          <agm-info-window #infoWindow>
            <div style="width: 450px">
              <div
                style="
                  margin-bottom: 12px;
                  display: flex;
                  justify-content: space-between;
                "
              >
                <div class="user-photo-wrapper">
                  <img
                    onerror="this.src='assets/default_user.png';"
                    class="user-photo"
                    [src]="selectedUser.avatarUrl"
                  />
                </div>
              </div>

              <p>
                <span style="font-weight: 500">Nome: </span
                >{{ selectedUser.name }}
              </p>
              <p>
                <span style="font-weight: 500">E-mail: </span>
                {{ selectedUser.email }}
              </p>
              <p>
                <span style="font-weight: 500">Telefone: </span>
                {{ selectedUser.phone }}
              </p>
              <p *ngIf="selectedUser.location">
                <span style="font-weight: 500"> Última localização: </span>
                <span *ngIf="selectedUser.location.address">{{
                  selectedUser.location.address
                }}</span>
                <span *ngIf="!selectedUser.location.address"
                  >carregando...</span
                >
              </p>
              <p>
                <span style="font-weight: 500"
                  >Intervalo de atualizações:
                </span>
                <ng-container
                  *ngIf="selectedUser.status === 'OFFLINE'; else elseTemplate"
                >
                  Desabilitado
                </ng-container>
                <ng-template #elseTemplate>
                  <span *ngIf="selectedUser.locationUpdate">{{
                    selectedUser.locationUpdate
                  }}</span>
                  <span *ngIf="!selectedUser.locationUpdate">Desabilitado</span>
                </ng-template>
              </p>
              <div
                style="display: flex; align-items: center"
                class="marker-window-actions"
              >
                <mat-form-field style="width: 100%">
                  <input
                    [formControl]="messageFormControl"
                    matInput
                    placeholder="Digite uma mensagem"
                  />
                </mat-form-field>
                <button
                  style="margin-left: 4px"
                  mat-icon-button
                  color="primary"
                  (click)="sendMessage()"
                >
                  <mat-icon>send</mat-icon>
                </button>
              </div>
            </div>
          </agm-info-window>
        </agm-overlay>
      </agm-map>

      <button
        style="
          cursor: pointer;
          position: absolute;
          top: 0;
          outline: none;
          margin-top: 8px;
          left: 0;
          width: 40px;
          height: 40px;
          border: 0;
          margin-bottom: 4px;
          background-color: white;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
          color: #666666;
          margin-left: 12px;
        "
        aria-label="Example icon button with a home icon"
      >
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</div>
