<div class="chat-container">
  <div class="chat-list">
    <div class="chat-header">
      <span class="chat-header-text">Chats</span>
    </div>
    <div class="chat-header-actions">
      <button (click)="newPrivateChat()" color="primary" mat-button>
        <mat-icon>chat</mat-icon>
        Novo chat
      </button>
      <button (click)="newGroup()" color="primary" mat-button>
        <mat-icon>group</mat-icon>
        Novo grupo
      </button>
    </div>
    <div class="chat-header-filter">
      <input
        (keydown.enter)="filterChats($event.target.value)"
        class="chat-header-filter-input"
        placeholder="Pesquisa por nome do funcionário ou grupo"
      />
      <mat-icon style="padding: 12px" color="primary">search</mat-icon>
    </div>
    <div class="chat-list-container">
      <div class="chat-list-wrapper">
        <ng-container *ngIf="isLoadingChats; else elseTemplate">
          <mat-spinner
            style="margin: auto"
            color="primary"
            [diameter]="30"
          ></mat-spinner>
        </ng-container>
        <ng-template #elseTemplate>
          <mat-card
            (click)="openChat(chat)"
            [ngClass]="
              selectedChat.id === chat.id
                ? 'chat-item-card-active'
                : 'chat-item-card'
            "
            *ngFor="let chat of filteredChats ? filteredChats : chats"
            class="chat-item-card"
          >
            <div class="chat-item-wrapper">
              <div *ngIf="chat.private" class="user-photo-wrapper">
                <ng-container *ngIf="chat.user.avatarUrl; else elseTemplate">
                  <img
                    class="user-photo"
                    onerror="this.src='assets/default_user.png';"
                    [src]="chat.user.avatarUrl"
                  />
                </ng-container>
                <ng-template #elseTemplate>
                  <img
                    class="user-photo"
                    src="../../../assets/default_user.png"
                  />
                </ng-template>
                <div
                  [ngClass]="
                    chat.user.status === 'ONLINE'
                      ? 'status online'
                      : 'status offline'
                  "
                ></div>
              </div>

              <div *ngIf="!chat.private">
                <ng-container *ngIf="chat.avatarUrl; else elseTemplate">
                  <img
                    class="user-photo"
                    [src]="chat.avatarUrl"
                    onerror="this.src='assets/default_group.png';"
                  />
                </ng-container>
                <ng-template #elseTemplate>
                  <img
                    class="user-photo"
                    src="../../../assets/default_group.png"
                  />
                </ng-template>
              </div>

              <div class="chat-item-content">
                <div
                  class="chat-item-name"
                  [matBadge]="chat.newMessages"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="!chat.newMessages"
                  matBadgeColor="primary"
                >
                  <div *ngIf="chat.private">{{ chat.user.name }}</div>
                  <div *ngIf="chat.groupName">{{ chat.groupName }}</div>
                </div>
                <div
                  *ngIf="getLastMessage(chat)"
                  class="chat-item-message-content"
                >
                  <div class="chat-item-message-text">
                    <div *ngIf="getLastMessage(chat).username === username">
                      <ng-container
                        *ngIf="
                          getLastMessage(chat).status === 'SENT';
                          else elseTemplate
                        "
                      >
                        <mat-icon class="message-status">check</mat-icon>
                      </ng-container>
                      <ng-template #elseTemplate>
                        <mat-icon class="message-status"
                          >query_builder</mat-icon
                        >
                      </ng-template>
                    </div>
                    <ng-container
                      *ngIf="getLastMessage(chat).hasAudio; else elseTemplate"
                    >
                      <mat-icon class="message-status">mic</mat-icon>
                      Áudio
                    </ng-container>
                    <ng-template #elseTemplate>
                      {{ getLastMessage(chat).message }}
                    </ng-template>
                  </div>
                  <div class="chat-item-message-date-text">
                    {{ convertDate(getLastMessage(chat).createdAt, "HH:mm") }}
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </ng-template>
      </div>
    </div>
  </div>
  <div *ngIf="selectedChat.id">
    <app-chat [chat]="selectedChat"></app-chat>
  </div>

  <div *ngIf="showNewChat">
    <app-new-chat
      [newChatType]="showNewChat"
      (onChatCreated)="handleChatCreated($event)"
    ></app-new-chat>
  </div>
</div>
