.chat-container {
  display: grid;
  flex-direction: column;
  grid-template-columns: 340px auto;
  padding-right: 12px;
  height: 100vh;
}

.chat-list {
  display: flex;
  overflow-y: hidden;
  border-right: 1px solid #ececec;
  box-shadow: 1px 1px 1px #ececec;
  flex-direction: column;
  height: 100%;
  margin-right: 12px;
  width: 100%;
}

.chat-header {
  display: flex;
  color: black;
  background-color: white;
  font-weight: 400;
  font-size: 20px;
  padding: 24px;
}

.chat-header-actions {
  display: flex;
  background-color: white;
  justify-content: space-around;
}

.chat-header-text {
  width: 100%;
  text-align: center;
}

.chat-header-filter {
  display: flex;
  width: 100%;
  padding-top: 12px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  margin-bottom: 12px;
  background-color: white;
  box-shadow: 2px 2px 2px #ececec;
}

.chat-header-filter-input {
  padding: 12px;
  outline: none;
  border: 0;
  width: 90%;
}

.chat-list-container {
  overflow-y: auto;
}

.chat-list-wrapper {
  padding-left: 4px;
  padding-right: 4px;
}

.chat-item-card {
  cursor: pointer;
  margin-bottom: 4px;
  padding-bottom: 0px;
}

.chat-item-card-active {
  background-color: #eceef7;
}

.chat-item-wrapper {
  display: flex;
  width: 100%;
  padding-bottom: 12px;
}

.user-photo-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
}

.user-photo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.chat-item-content {
  flex-direction: column;
  width: 100%;
  margin-left: 4px;
}

.chat-item-name {
  display: flex;
  justify-content: space-between;
  width: 95%;
  font-weight: 500;
  font-size: 16px;
}

.chat-item-message-content {
  display: flex;
  width: 100%;
  overflow: hidden;
  max-width: 260px;
}

.chat-item-message-text {
  display: flex;
  height: 20px;
  align-items: center;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.chat-item-message-date-text {
  font-size: 10px;
  margin-left: 10px;
}
.message-status {
  height: auto;
  width: auto;
  margin-right: 4px;
  display: flex;
  align-items: center;
  font-size: 12px;
}
