@import "../../../_variables.scss";

.container {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    $color-primary,
    $color-dark
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: $background-color;
  border-radius: 12px;
  padding: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title {
  font-size: 32px;
  font-weight: 500;
  color: $color-primary;
}

#subtitle {
  font-size: 20px;
  margin-bottom: 24px;
}

.icon {
  color: $color-primary;
  cursor: pointer;
}

.error {
  color: $color-error;
}
