<div class="container">
  <div class="wrapper">
    <p id="title">Recuperação de senha</p>
    <ng-container *ngIf="expression; else elseTemplate">
      <p id="subtitle">Informe seu usuário:</p>
      <form class="form" [formGroup]="authForm" (ngSubmit)="signIn()">
        <mat-form-field appearance="outline">
          <mat-label>Usuário</mat-label>
          <input formControlName="username" matInput />
          <mat-icon
            [ngClass]="username.invalid && username.touched ? 'error' : 'icon'"
            matSuffix
            >person</mat-icon
          >
          <mat-error *ngIf="username.invalid">Campo é obrigatório.</mat-error>
        </mat-form-field>
        <mat-error style="font-size: 75%" *ngIf="errorMessage">{{
          errorMessage
        }}</mat-error>
        <button
          [disabled]="authForm.invalid"
          mat-stroked-button
          type="submit "
          color="primary"
          style="display: flex; justify-content: center; align-items: center"
        >
          <ng-container *ngIf="store.isLoading; else elseTemplate">
            <mat-spinner style="margin: 2px" [diameter]="30"></mat-spinner>
          </ng-container>
          <ng-template #elseTemplate> Avançar </ng-template>
        </button>
      </form>
    </ng-container>
    <ng-template #elseTemplate>
      <p id="subtitle">O código de verificação foi enviado para seu e-mail.</p>
    </ng-template>
  </div>
</div>
