<div class="main-container">
  <div class="wrapper">
    <p id="title">Recuperação de senha</p>
    <ng-container *ngIf="step === 0; else elseTemplate">
      <form
        class="form"
        [formGroup]="usernameForm"
        (ngSubmit)="sendVerificationCode()"
      >
        <mat-form-field appearance="outline">
          <mat-label>Usuário</mat-label>
          <input formControlName="username" matInput />
          <mat-icon
            [ngClass]="username.invalid && username.touched ? 'error' : 'icon'"
            matSuffix
            >person</mat-icon
          >
          <mat-error *ngIf="username.invalid">Campo obrigatório.</mat-error>
        </mat-form-field>
        <mat-error class="error-message" *ngIf="errorMessage">{{
          errorMessage
        }}</mat-error>
        <div class="actions">
          <button mat-button type="button" (click)="back()" color="primary">
            Voltar
          </button>
          <button
            [disabled]="usernameForm.invalid"
            mat-stroked-button
            type="submit "
            color="primary"
            style="display: flex; justify-content: center; align-items: center"
          >
            <ng-container *ngIf="isLoading; else elseTemplate">
              <mat-spinner style="margin: 2px" [diameter]="30"></mat-spinner>
            </ng-container>
            <ng-template #elseTemplate> Avançar </ng-template>
          </button>
        </div>
      </form>
    </ng-container>
    <ng-template #elseTemplate>
      <p id="subtitle">O código de verificação foi enviado para seu e-mail.</p>
      <form
        class="form"
        [formGroup]="verificationForm"
        (ngSubmit)="changePassword()"
      >
        <mat-form-field appearance="outline">
          <mat-label>Código de verificação</mat-label>
          <input formControlName="code" matInput />

          <mat-error *ngIf="code.invalid">Campo obrigatório.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nova senha</mat-label>
          <input
            [type]="hiddenPasswordInputs[0] ? 'password' : 'text'"
            formControlName="newPassword"
            matInput
          />
          <mat-icon
            (click)="hiddenPasswordInputs[0] = !hiddenPasswordInputs[0]"
            [ngClass]="
              newPassword.invalid && newPassword.touched ? 'error' : 'icon'
            "
            matSuffix
            >{{
              hiddenPasswordInputs[0] ? "visibility_off" : "visibility"
            }}</mat-icon
          >
          <mat-error *ngIf="newPassword.invalid">Campo obrigatório.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirmar nova senha</mat-label>
          <input
            formControlName="confirmNewPassword"
            matInput
            [type]="hiddenPasswordInputs[1] ? 'password' : 'text'"
          />
          <mat-icon
            (click)="hiddenPasswordInputs[1] = !hiddenPasswordInputs[1]"
            [ngClass]="
              confirmNewPassword.invalid && confirmNewPassword.touched
                ? 'error'
                : 'icon'
            "
            matSuffix
          >
            {{
              hiddenPasswordInputs[1] ? "visibility_off" : "visibility"
            }}</mat-icon
          >
          <mat-error *ngIf="confirmNewPassword.invalid"
            >Campo obrigatório.</mat-error
          >
        </mat-form-field>
        <mat-error class="error-message" *ngIf="errorMessage">{{
          errorMessage
        }}</mat-error>
        <div class="actions">
          <button mat-button type="button" (click)="back()" color="primary">
            Voltar
          </button>
          <button
            [disabled]="verificationForm.invalid"
            mat-stroked-button
            type="submit "
            color="primary"
            style="display: flex; justify-content: center; align-items: center"
          >
            <ng-container *ngIf="isLoading; else elseTemplate">
              <mat-spinner style="margin: 2px" [diameter]="30"></mat-spinner>
            </ng-container>
            <ng-template #elseTemplate> Finalizar </ng-template>
          </button>
        </div>
      </form>
    </ng-template>
  </div>
</div>
