<div class="container">
  <h2 mat-dialog-title>
    <span *ngIf="data.type === 'INSERT'">Criação de usuário</span>
    <span *ngIf="data.type === 'UPDATE'">Atualização de usuário</span>

    <span *ngIf="data.type === 'DISABLE'">Desabilitar usuário</span>
    <span *ngIf="data.type === 'ENABLE'">Habilitar usuário</span>
  </h2>
  <ng-container
    *ngIf="data.type !== 'INSERT' && data.type !== 'UPDATE'; else elseTemplate"
  >
    <p style="font-size: 16px; flex: 1">
      Você tem certeza que deseja
      {{ data.type === "DISABLE" ? "desabilitar" : "habilitar" }} o usuário
      {{ data.user.name }}?
    </p>
    <mat-dialog-actions align="end">
      <button [disabled]="isLoading" mat-button mat-dialog-close>
        Cancelar
      </button>
      <button
        [disabled]="(state$ | async).isLoading"
        color="warn"
        (click)="changeUserStatus()"
        mat-stroked-button
      >
        <ng-container *ngIf="(state$ | async).isLoading; else elseTemplate">
          <mat-spinner
            color="warn"
            style="margin: 2px"
            [diameter]="30"
          ></mat-spinner>
        </ng-container>
        <ng-template #elseTemplate> Confirmar </ng-template>
      </button>
    </mat-dialog-actions>
  </ng-container>
  <ng-template #elseTemplate>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>Nome completo</mat-label>
        <input
          [disabled]="data.type === 'UPDATE'"
          formControlName="name"
          matInput
        />
      </mat-form-field>
      <mat-form-field [disabled]="data.type === 'UPDATE'" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          [disabled]="data.type === 'UPDATE'"
          formControlName="email"
          matInput
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input
          [disabled]="data.type === 'UPDATE'"
          formControlName="phone"
          matInput
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cargo</mat-label>

        <mat-select formControlName="role">
          <mat-option *ngFor="let role of userRoles" [value]="role">
            {{ translateRole(role) }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-dialog-actions align="end">
        <button [disabled]="isLoading" mat-button mat-dialog-close>
          Cancelar
        </button>
        <button
          color="primary"
          mat-stroked-button
          type="submit"
          [disabled]="form.invalid"
        >
          <ng-container *ngIf="isLoading; else elseTemplate">
            <mat-spinner
              color="primary"
              style="margin: 2px"
              [diameter]="30"
            ></mat-spinner>
          </ng-container>
          <ng-template #elseTemplate> Salvar </ng-template>
        </button>
      </mat-dialog-actions>
    </form>
  </ng-template>
</div>
