<div class="chat-container" *ngIf="!showChatDetails">
  <div class="toolbar" (click)="onShowChatDetails()">
    <img
      onerror="this.src='assets/default_user.png';"
      *ngIf="chat.private"
      class="chat-avatar"
      [src]="chat.user.avatarUrl"
    />
    <img
      onerror="this.src='assets/default_group.png';"
      *ngIf="!chat.private"
      class="chat-avatar"
      [src]="chat.avatarUrl"
    />

    <div style="display: flex; flex-direction: column">
      <span class="user-name" *ngIf="chat.user">{{ chat.user.name }}</span>
      <span class="user-name" *ngIf="chat.groupName">{{ chat.groupName }}</span>

      <div *ngIf="chat.private" class="status-wrapper">
        <span
          [ngClass]="
            chat.user.status === 'ONLINE'
              ? 'user-status online'
              : 'user-status offline'
          "
        ></span>
        <span class="status-text">
          {{ translateStatus(chat.user.status) }}
        </span>
      </div>
      <div *ngIf="!chat.private" class="status-wrapper">
        Criado em: {{ convertDate(chat.createdAt, "dd/MM/yyyy HH:mm") }}<br />
        Administrador: {{ chat.admin }}
      </div>
    </div>

    <button
      mat-mini-fab
      (click)="openBottomSheetMap()"
      *ngIf="chat.user"
      color="primary"
    >
      <mat-icon>map</mat-icon>
    </button>
  </div>
  <div #content class="messages-container">
    <div class="messages-list" #messageList>
      <ng-container *ngIf="(state$ | async).isLoading; else elseTemplate">
        <mat-spinner
          style="margin: auto"
          color="primary"
          [diameter]="30"
        ></mat-spinner>
      </ng-container>
      <ng-template #elseTemplate>
        <div *ngFor="let message of (state$ | async).messages">
          <app-message [chat]="chat" [message]="message"></app-message>
        </div>
      </ng-template>
    </div>
    <mat-divider style="margin-bottom: 8px"></mat-divider>
    <div class="messages-action-container">
      <textarea
        #sendInput
        type="submit"
        class="messages-action-input"
        (keydown.enter)="sendMessage($event)"
        placeholder="Digite uma mensagem"
      ></textarea>
      <button mat-icon-button style="color: gray">
        <mat-icon>attach_file</mat-icon>
      </button>
      <button
        *ngIf="!recordingAudio"
        (click)="startRecording()"
        mat-icon-button
        style="color: gray"
      >
        <mat-icon>mic</mat-icon>
      </button>
      <button
        *ngIf="recordingAudio"
        (click)="stopRecording()"
        mat-icon-button
        style="color: gray"
      >
        <mat-icon>stop</mat-icon>
      </button>
    </div>
  </div>
</div>

<div *ngIf="showChatDetails">
  <app-details [chat]="chat" (onBackToChat)="handleBackToChat()"></app-details>
</div>
