.chat-container {
  padding-left: 16px;
  margin-bottom: 4px;
  margin-left: 8px;
  border-radius: 12px;
  display: grid;
  grid-template-rows: 92px auto;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  cursor: pointer;
  display: grid;
  grid-template-columns: 40px auto 40px;
  align-items: center;
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.user-photo {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.status-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  margin-top: 4px;
  padding-left: 24px;
}

.user-status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.online {
  background-color: #32cd32;
}

.offline {
  background-color: #7e7e7e;
}

.status-text {
  font-size: 12px;
  padding-left: 8px;
  margin-top: 4px;
  color: grey;
}

.user-name {
  font-size: 24px;
  padding-left: 24px;
  width: 100%;
}

.messages-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.messages-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages-action-input {
  outline: none;
  border: 0;
  width: 90%;
  padding-top: 24px;
  margin-bottom: 4px;
  font-size: 16px;
  background: transparent;
}

.user-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
}

.user-item:hover {
  background-color: #eeeeee;
}

.message-container {
  width: 100%;
  display: flex;
  align-items: center;
  bottom: 0;
}

.messages-list {
  width: 100%;
  height: 90%;
  // max-height: 800px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e0e0e0;
  flex-grow: 1;
  overflow-y: scroll;
}

.message-row {
  display: grid;
  grid-template-columns: 70%;
}

.sender {
  justify-content: end;
  justify-items: end;
  margin-right: 8px;
}

.recipient {
  justify-items: start;
}

.message-text {
  padding: 4px 4px;
  font-size: 14.2px;
  margin-bottom: 5px;
  text-align: justify;
}

.message-status {
  width: auto;
  margin-left: 4px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.message-timestamp {
  font-size: 10px;
  text-align: end;
}

.sender .message-timestamp {
  color: rgb(80, 80, 80);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.recipient .message-timestamp {
  color: #7e7e7e;
}

.sender .message-text {
  min-width: 80px;
  background-color: #e0e5f5;
  color: black;
  border: 1px solid #c8d5ff;
  border-radius: 14px 14px 0 14px;
}

.recipient .message-text {
  min-width: 80px;

  color: black;
  background-color: white;
  border: 1px solid #fafafa;
  border-radius: 0 14px 14px 14px;
  box-shadow: 1px 2px 1px #ececec;
}

textarea {
  resize: none;
}

.system-message {
  width: 100%;
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.system-message-text {
  font-size: 12px;
  padding: 6px;
  background-color: #1a237e;
  color: white;
  border-radius: 20px;
  margin: auto;
}
