<div class="chat-container" *ngIf="!showChatDetails">
  <div class="toolbar" (click)="onShowChatDetails()">
    <img class="user-photo" src="" />
    <div style="display: flex; flex-direction: column">
      <span class="user-name" *ngIf="chat.user">{{ chat.user.name }}</span>
      <span class="user-name" *ngIf="chat.groupName">{{ chat.groupName }}</span>

      <div *ngIf="chat.private" class="status-wrapper">
        <span
          [ngClass]="
            chat.user.status === 'ONLINE'
              ? 'user-status online'
              : 'user-status offline'
          "
        ></span>
        <span class="status-text">
          {{ translateStatus(chat.user.status) }}
        </span>
      </div>
      <div *ngIf="!chat.private" class="status-wrapper">
        Criado em: {{ convertDate(chat.createdAt, "dd/MM/yyyy HH:mm") }}<br />
        Administrador: {{ chat.admin }}
      </div>
    </div>

    <button
      mat-mini-fab
      (click)="openBottomSheetMap()"
      *ngIf="chat.user"
      color="primary"
    >
      <mat-icon>map</mat-icon>
    </button>
  </div>
  <div #content class="messages-container">
    <div class="messages-list" #messageList>
      <ng-container *ngIf="(state$ | async).isLoading; else elseTemplate">
        <mat-spinner
          style="margin: auto"
          color="primary"
          [diameter]="30"
        ></mat-spinner>
      </ng-container>
      <ng-template #elseTemplate>
        <div *ngFor="let message of (state$ | async).messages">
          <div class="message-row sender" *ngIf="message.username === username">
            <div class="message-text">
              {{ message.message }}

              <div class="message-timestamp">
                {{ convertDate(message.createdAt, "HH:mm") }}
                <ng-container
                  *ngIf="message.status === 'SENT'; else elseTemplate"
                >
                  <mat-icon class="message-status">check</mat-icon>
                </ng-container>
                <ng-template #elseTemplate>
                  <mat-icon class="message-status">query_builder</mat-icon>
                </ng-template>
              </div>
            </div>
          </div>
          <div *ngIf="message.username !== username">
            <ng-container
              *ngIf="message.username === 'SYSTEM'; else elseTemplate"
            >
              <div class="system-message">
                <div class="system-message-text">
                  {{ message.message }}
                </div>
              </div>
            </ng-container>
            <ng-template #elseTemplate>
              <div class="message-row recipient">
                <div class="message-text">
                  <div
                    style="font-weight: 500; color: grey; font-size: 12px"
                    *ngIf="!chat.private && message.username !== username"
                  >
                    {{ message.username }}
                  </div>
                  <div style="margin-top: 2px">{{ message.message }}</div>

                  <div class="message-timestamp">
                    {{ convertDate(message.createdAt, "HH:mm") }}
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </ng-template>
    </div>
    <mat-divider style="margin-bottom: 8px"></mat-divider>
    <div class="messages-action-container">
      <textarea
        matInput
        #sendInput
        class="messages-action-input"
        (keydown.enter)="sendMessage($event.target.value)"
        placeholder="Digite uma mensagem"
      ></textarea>
      <button mat-icon-button style="color: gray">
        <mat-icon>attach_file</mat-icon>
      </button>
      <button mat-icon-button style="color: gray">
        <mat-icon>mic</mat-icon>
      </button>
    </div>
  </div>
</div>

<div *ngIf="showChatDetails">
  <app-details [chat]="chat" (onBackToChat)="handleBackToChat()"></app-details>
</div>
