<div class="chat-container">
  <div class="toolbar">
    <img class="user-photo" src="" />
    <div style="display: flex; flex-direction: column">
      <span class="user-name" *ngIf="chat.user">{{ chat.user.name }}</span>
      <span class="user-name" *ngIf="chat.groupName">{{ chat.groupName }}</span>

      <div *ngIf="chat.private" class="status-wrapper">
        <span
          [ngClass]="
            chat.user.status === 'ONLINE'
              ? 'user-status online'
              : 'user-status offline'
          "
        ></span>
        <span class="status-text">
          {{ translateStatus(chat.user.status) }}
        </span>
      </div>
    </div>

    <button mat-mini-fab (click)="openBottomSheetMap()" color="primary">
      <mat-icon>map</mat-icon>
    </button>
  </div>
  <!-- <mat-divider></mat-divider> -->
  <div #content class="messages-container">
    <div class="messages-list" #messageList>
      <ng-container *ngIf="(state$ | async).isLoading; else elseTemplate">
        <mat-spinner
          style="margin: auto"
          color="primary"
          [diameter]="30"
        ></mat-spinner>
      </ng-container>
      <ng-template #elseTemplate>
        <div *ngFor="let message of (state$ | async).messages">
          <div class="message-row sender" *ngIf="message.username === username">
            <div class="message-text">
              {{ message.message }}

              <div class="message-timestamp">
                {{ convertMessageDate(message.createdAt) }}
                <ng-container
                  *ngIf="message.status === 'SENT'; else elseTemplate"
                >
                  <mat-icon class="message-status">check</mat-icon>
                </ng-container>
                <ng-template #elseTemplate>
                  <mat-icon class="message-status">query_builder</mat-icon>
                </ng-template>
              </div>
            </div>
          </div>
          <div
            class="message-row recipient"
            *ngIf="message.username !== username"
          >
            <div class="message-text">
              {{ message.message }}

              <div class="message-timestamp">
                {{ convertMessageDate(message.createdAt) }}
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <mat-divider style="margin-bottom: 8px"></mat-divider>
    <div class="messages-action-container">
      <input
        #sendInput
        class="messages-action-input"
        (keydown.enter)="sendMessage($event.target.value)"
        placeholder="Digite uma mensagem"
      />

      <!-- <mat-form-field
          style="width: 90%; padding-right: 8px; padding-left: 8px;"
        >
          <mat-label>Digite uma mensagem...</mat-label>
          <input
            matInput
            (keydown.enter)="sendMessage($event.target.value)"
            autocomplete="off"
          />
        </mat-form-field> -->
      <button mat-icon-button style="color: gray">
        <mat-icon>attach_file</mat-icon>
      </button>
      <button mat-icon-button style="color: gray">
        <mat-icon>mic</mat-icon>
      </button>
    </div>
  </div>
</div>
