<div class="container">
  <div class="header">
    <div style="width: 100%">Funcionários</div>
    <div class="search-wrapper">
      <input
        (keyup)="applyFilter($event)"
        class="search-input"
        placeholder="Pesquise um funcionário"
      />
      <mat-icon color="primary">search</mat-icon>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name" style="width: 100%">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email" style="width: 30%">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Telefone</th>
      <td mat-cell *matCellDef="let element">
        {{ element.phone }}
      </td>
    </ng-container>
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Cargo</th>
      <td mat-cell *matCellDef="let element">
        <span [ngSwitch]="element.role">
          <p style="margin: auto" *ngSwitchCase="'ADMIN'">Administrador</p>
          <p style="margin: auto" *ngSwitchCase="'OPERATOR'">Operador</p>
          <p style="margin: auto" *ngSwitchDefault>Funcionário</p>
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th style="text-align: center" mat-header-cell *matHeaderCellDef>
        <button
          matTooltip="Criar"
          (click)="openInsert()"
          mat-icon-button
          color="primary"
        >
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td style="text-align: center" mat-cell *matCellDef="let element">
        <button
          [disabled]="user.role !== 'ADMIN'"
          (click)="openUpdate(element)"
          mat-icon-button
          color="secondary"
          matTooltip="Editar"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          *ngIf="element.status !== 'DISABLED'"
          [disabled]="user.role !== 'ADMIN'"
          (click)="openDisable(element)"
          mat-icon-button
          style="color: green"
          matTooltip="Habilitado"
        >
          <mat-icon>check</mat-icon>
        </button>
        <button
          *ngIf="element.status === 'DISABLED'"
          [disabled]="user.role !== 'ADMIN'"
          (click)="openEnable(element)"
          mat-icon-button
          color="warn"
          matTooltip="Desabilitado"
        >
          <mat-icon>block</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
  <mat-spinner
    color="primary"
    style="margin: auto; margin-top: 42px"
    *ngIf="(state$ | async).isLoading && !dataSource.data.length"
    [diameter]="30"
  ></mat-spinner>
  <mat-paginator [pageSizeOptions]="[25]" showFirstLastButtons></mat-paginator>
</div>
