@import "../../_variables.scss";

.example-spacer {
  flex: 1 1 auto;
}

.container {
  display: grid;
  height: 100vh;
  width: 100%;
}

.firmName {
  padding: 12px;
  height: 40px;
  background-color: $color-primary;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: #f3f3f3;
  // padding-top: 8px;
  // padding-right: 18px;
  // padding-left: 18px;
  min-width: 800px;
}

.content {
  min-height: 550px;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(200px, 15%) 1fr;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding-left: 8px;
  display: inline;
  box-sizing: border-box;
}

.active {
  color: $color-primary;
}

.menu {
  width: 100%;
  -moz-box-shadow: 0 2px 2px rgba(182, 182, 182, 0.75);
  -webkit-box-shadow: 0 2px 2px rgba(182, 182, 182, 0.75);
  box-shadow: 0 2px 2px rgba(182, 182, 182, 0.75);

  height: 40px;
}

.toolbar {
  background-color: $color-primary;
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: 18px;
  height: 8vh;
  display: grid;
  grid-template-columns: 250px auto 50px;
  align-items: center;
}

.company {
  display: flex;
  color: black;
  outline: none;
  cursor: pointer;
  padding: 12px;
  margin-right: 12px;
}

.sidenav {
  width: 15%;
  min-width: 200px;
  overflow: auto;
  background-color: white;
  display: flex;
  color: $color-primary;
  flex-direction: column;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 500;
  cursor: pointer;
  height: 50px;
  width: 100%;
  outline: none;
  border: 0;
  > mat-icon {
    color: grey;
    margin-right: 6px;
  }
}

.navItem:hover {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  transition: 0.3s;
}

.navItemActive {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  transition: 0.3s;
  background-color: white;
  color: $color-primary;
  width: 100%;
  > mat-icon {
    color: $color-primary;
    margin-right: 6px;
  }

  > span {
    width: 100%;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-right: 2px solid $color-primary;
  }
}

.header {
  padding: 10px 16px;
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0 8px;
}

.search {
  width: 90%;
  margin: auto;
  border-bottom: 1px solid #fafafa;
  border-radius: 7px;
  padding: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  outline: none;
  border: 0;
}

.userItem {
  display: flex;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
}

.userItem:hover,
.userItem:active {
  background-color: #f3f3f3;
}

.userItemContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
}

.userName {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.lastMessage {
  color: #8f8f8f;
  font-size: 12px;
}
// .sidenav-container {
//   height: 100%;
// }
// .sidenav {
//   width: 240px;
// }

// .sidenav {
//   ::-webkit-scrollbar-track {
//     background: #f1f1f1;
//   }
// }

// .navItems {
//   padding: 4px;
// }
// .sidenav .mat-toolbar {
//   background: inherit;
// }

// .mat-toolbar.mat-primary {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }
// .navItem {
//   display: flex;
//   flex-direction: row;
//   padding: 4px;
//   margin-top: 4px;
//   cursor: pointer;
//   border-radius: 8px;
//   outline: none;
// }

.online {
  background-color: #32cd32;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
}

// .offline {
//   background-color: #9a001a;
//   width: 8px;
//   height: 8px;
//   border-radius: 50%;
// }

// .navItem:hover,
// .userItem:hover,
// .navItemActive {
//   transition: 0.2s;
//   box-shadow: 4px;
//   background-color: $primary-light;
//   color: white;
// }

// .material-icons.md-18 {
//   font-size: 8px;
// }

// .userIcon {
//   width: 32px;
//   height: 32px;
//   border-radius: 50%;
//   outline: none;
//   padding-right: 4px;
// }

// .userItem {
//   display: grid;
//   align-items: center;
//   padding: 8px;
//   cursor: pointer;
//   outline: none;
// }

// .navIcon {
//   padding-right: 4px;
// }
