<mat-sidenav-container>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [mode]="'side'"
    [opened]="isMenuOpen"
  >
    <div
      style="
        height: 40px;
        display: flex;
        text-align: center;
        align-items: center;
        background-color: #2c4ebd;
        box-shadow: rgba(0, 0, 0, 0.9) 0px 0 2px;
        color: white;
        font-weight: 500;
        font-size: 18px;
        padding: 12px;
      "
    >
      <span style="text-align: center; width: 100%;">Koga Transportes </span>
    </div>
    <ul
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
      "
    >
      <li
        class="navItem"
        [routerLink]="['/map']"
        routerLinkActive="navItemActive"
      >
        <mat-icon>map</mat-icon>
        <span style="width: 100%;">Monitoramento</span>
      </li>
      <li
        class="navItem"
        [routerLink]="['/messages']"
        routerLinkActive="navItemActive"
      >
        <mat-icon>messages</mat-icon>
        <span style="width: 100%;">Mensagens</span>
      </li>
      <li
        class="navItem"
        [routerLink]="['/employees']"
        routerLinkActive="navItemActive"
      >
        <mat-icon>group</mat-icon>
        <span style="width: 100%;">Funcionários</span>
      </li>
    </ul>
    <div
      [matMenuTriggerFor]="menu"
      style="
        position: absolute;
        bottom: 0;
        cursor: pointer;
        margin-bottom: 12px;
        margin-left: 6px;
      "
    >
      <mat-divider style="margin-bottom: 8px;"></mat-divider>
      <div style="display: flex; align-items: center; width: 100%;">
        <img
          class="userPhoto"
          style="width: 40px; height: 40px; border-radius: 50%;"
          src="
https://instagram.fpgz1-1.fna.fbcdn.net/v/t51.2885-19/s150x150/106459975_719099685544296_4948485348446780484_n.jpg?_nc_ht=instagram.fpgz1-1.fna.fbcdn.net&_nc_ohc=9aPN9rZiR4QAX-6kRbO&oh=f604e9394ac4e051c9f730704677ae86&oe=5F4761A3
"
        />
        <div style="margin-left: 6px; flex-direction: column;">
          <div style="font-weight: 500; margin-left: 4px; color: black;">
            Felipe Kosloski Koga
          </div>
          <div style="margin-left: 4px; color: black;">
            Gestor
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="main">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- 
<div class="content">
  <div class="sidenav">
    <div class="firmName">
      Koga Transportes LTDA
    </div>
    <ul style="display: flex; flex-direction: column;">
      <li>Monitoramento</li>
      <li>Chats</li>
      <li>Funcionários</li>
    </ul>
  </div>
  <div class="main">
    <mat-toolbar>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Monitoramento</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </div>
</div> -->

<!-- <div class="toolbar">
  <span style="padding: 12px;">Koga Transportes LTDA</span>
  <span class="example-spacer"></span>
  <img
    [matMenuTriggerFor]="menu"
    class="userPhoto"
    style="width: 40px; height: 40px; border-radius: 50%;"
    src="
    https://instagram.fpgz1-1.fna.fbcdn.net/v/t51.2885-19/s150x150/106459975_719099685544296_4948485348446780484_n.jpg?_nc_ht=instagram.fpgz1-1.fna.fbcdn.net&_nc_ohc=9aPN9rZiR4QAX-6kRbO&oh=f604e9394ac4e051c9f730704677ae86&oe=5F4761A3
      "
  />
</div>
<div class="menu" style="font-size: 12px;">
  <div [routerLink]="['/map']" routerLinkActive="active" class="company">
    <ul>
      <li>
        <a [routerLink]="['/map']">Monitoramento</a>
      </li>
      <li>
        <a [routerLink]="['/map']">Chats</a>
      </li>
      <li><a [routerLink]="['/employees']">Funcionários</a></li>
    </ul>
  </div>
  <div class="example-spacer"></div>
</div>

<main style="height: calc(100vh - 80px);">
  <div class="content">
    <div class="sidenav">
      <input class="search" placeholder="Pesquisa" />
      <mat-divider></mat-divider>
      <div
        *ngFor="let user of users"
        (click)="navToChat(user.uuid)"
        class="userItem"
      >
        <div class="photo">
          <img class="userPhoto" [src]="user.photo" />
        </div>

        <div class="userItemContent">
          <span class="userName">{{ user.name }}</span>
          <span class="lastMessage">Last message</span>
          <mat-divider style="margin-top: 4px;"></mat-divider>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
    <div style="margin-left: 8px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</main> -->

<!-- <div class="toolbar">
  <span style="padding: 12px;">Company</span>
  <span class="example-spacer"></span>
  <img
    [matMenuTriggerFor]="menu"
    class="userPhoto"
    style="width: 40px; height: 40px; border-radius: 50%;"
    src="
    https://instagram.fpgz1-1.fna.fbcdn.net/v/t51.2885-19/s150x150/106459975_719099685544296_4948485348446780484_n.jpg?_nc_ht=instagram.fpgz1-1.fna.fbcdn.net&_nc_ohc=9aPN9rZiR4QAX-6kRbO&oh=f604e9394ac4e051c9f730704677ae86&oe=5F4761A3
      "
  />
</div> -->
<!-- <div class="content">
  <div class="sidenav" style="position: relative;">
    <div
      style="
        height: 40px;
        display: flex;
        text-align: center;
        align-items: center;
        background-color: #2c4ebd;
        box-shadow: rgba(0, 0, 0, 0.9) 0px 0 2px;
        color: white;
        font-weight: 500;
        font-size: 16px;
        padding: 12px;
      "
    >
      <span style="text-align: center; width: 100%;">Koga Transportes</span>
    </div>
    <ul
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
      "
    >
      <li
        class="navItem"
        [routerLink]="['/map']"
        routerLinkActive="navItemActive"
      >
        <mat-icon>map</mat-icon>
        <span style="width: 100%;">Monitoramento</span>
      </li>
      <li
        class="navItem"
        [routerLink]="['/messages']"
        routerLinkActive="navItemActive"
      >
        <mat-icon>messages</mat-icon>
        <span style="width: 100%;">Mensagens</span>
      </li>
      <li
        class="navItem"
        [routerLink]="['/employees']"
        routerLinkActive="navItemActive"
      >
        <mat-icon>group</mat-icon>
        <span style="width: 100%;">Funcionários</span>
      </li>
    </ul>
    <div
      style="
        position: absolute;
        bottom: 0;

        margin-bottom: 12px;
        margin-left: 6px;
      "
    >
      <mat-divider style="margin-bottom: 8px;"></mat-divider>
      <div style="display: flex; align-items: center; width: 100%;">
        <img
          [matMenuTriggerFor]="menu"
          class="userPhoto"
          style="width: 40px; height: 40px; border-radius: 50%;"
          src="
https://instagram.fpgz1-1.fna.fbcdn.net/v/t51.2885-19/s150x150/106459975_719099685544296_4948485348446780484_n.jpg?_nc_ht=instagram.fpgz1-1.fna.fbcdn.net&_nc_ohc=9aPN9rZiR4QAX-6kRbO&oh=f604e9394ac4e051c9f730704677ae86&oe=5F4761A3
  "
        />
        <div style="margin-left: 6px; flex-direction: column;">
          <div style="font-weight: 500; margin-left: 4px; color: black;">
            Felipe Kosloski Koga
          </div>
          <div style="margin-left: 4px; color: black;">
            Gestor
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div> -->

<mat-menu #menu="matMenu">
  <button style="background-color: #fafafa; color: #32cd32;" mat-menu-item>
    <mat-icon>check_circle_outline</mat-icon>
    <span>Online</span>
  </button>
  <button style="background-color: #fafafa;" mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>Perfil</span>
  </button>
  <button style="background-color: #fafafa;" mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Desabilitar notificações</span>
  </button>
  <button style="background-color: #fafafa;" mat-menu-item>
    <mat-icon>power_settings_new</mat-icon>
    <span>Sair</span>
  </button>
</mat-menu>
