@import "~@angular/material/theming";

$color-primary: #2c4ebd;
$color-dark: #1a237e;
$primary-light: #484848;
$primary-text: #ffffff;
$background-color: #fafafa;
$error: #f44336;

$secondary-color: #f5f5f5;
$secondary-dark: #c2c2c2;
$secondary-light: #ffffff;
$secondary-text: #000000;
