<!-- <app-navigation (themeSwitched)="switchMode($event)"></app-navigation> -->

<ng-container *ngIf="isAppLoading; else elseTemplate">
  <div class="main-container">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="container">
    <div class="sidenav" *ngIf="isLoggedIn">
      <div class="header">
        <span class="title">Koga Transportes </span>
      </div>
      <ul class="list">
        <li class="item" [routerLink]="['/map']" routerLinkActive="itemActive">
          <mat-icon>map</mat-icon>
          <span>Monitoramento</span>
        </li>
        <li
          class="item"
          [routerLink]="['/chats']"
          routerLinkActive="itemActive"
        >
          <mat-icon>messages</mat-icon>
          <span>Chats</span>
        </li>
        <li
          class="item"
          [routerLink]="['/users']"
          routerLinkActive="itemActive"
        >
          <mat-icon>group</mat-icon>
          <span>Funcionários</span>
        </li>
      </ul>
      <div (click)="goToProfile()" class="footer">
        <mat-divider style="margin-bottom: 8px"></mat-divider>
        <div class="user-wrapper">
          <div class="user-photo-wrapper">
            <img class="user-photo" [src]="currentUser.avatarUrl" />
            <div
              [ngClass]="
                currentUser.status === 'ONLINE'
                  ? 'status online'
                  : 'status offline'
              "
            ></div>
          </div>
          <div class="user-details">
            <div class="user-name">{{ currentUser.name }}</div>
            <div class="user-role">{{ getRole(currentUser.role) }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>
<!--
<mat-menu #menu="matMenu">
  <button
    (click)="goToProfile()"
    style="background-color: #fafafa"
    mat-menu-item
  >
    <mat-icon>person</mat-icon>
    <span>Perfil</span>
  </button>
  <button style="background-color: #fafafa" mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Desabilitar notificações</span>
  </button>
  <button (click)="signOut()" style="background-color: #fafafa" mat-menu-item>
    <mat-icon>power_settings_new</mat-icon>
    <span>Sair</span>
  </button>
</mat-menu> -->
