<div style="height: 500px; display: flex; justify-content: center">
  <ng-container *ngIf="loading; else elseTemplate">
    <mat-spinner [diameter]="20"></mat-spinner>
  </ng-container>
  <ng-template #elseTemplate>
    <agm-map
      class="map"
      [fullscreenControl]="true"
      [latitude]="user.location.latitude"
      [longitude]="user.location.longitude"
      [styles]="mapStyle"
      [maxZoom]="0"
      [zoom]="16"
      (mapClick)="mapClicked($event.coords.lat, $event.coords.lng)"
      style="position: relative"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        color="primary"
        class="toggle-button controls button"
        >search</mat-icon
      >

      <agm-overlay
        [latitude]="user.location.latitude"
        [longitude]="user.location.longitude"
        [markerDraggable]="false"
        contextmenu="#menu"
        (markerClick)="selectMarker($event)"
      >
        <div class="user-photo-wrapper">
          <img
            onerror="this.src='assets/default_user.png';"
            class="user-photo"
            [src]="user.avatar || getUserAvatar(user)"
          />
        </div>
        <agm-info-window #infoWindow>
          <div style="width: 450px">
            <div
              style="
                margin-bottom: 12px;
                display: flex;
                justify-content: space-between;
              "
            >
              <div class="user-photo-wrapper">
                <img
                  onerror="this.src='assets/default_user.png';"
                  class="user-photo"
                  [src]="user.avatar || getAvatar(user.name)"
                />
              </div>
            </div>

            <p><span style="font-weight: 500">Nome: </span>{{ user.name }}</p>
            <p>
              <span style="font-weight: 500">E-mail: </span>
              {{ user.email }}
            </p>
            <p>
              <span style="font-weight: 500">Telefone: </span>
              {{ user.phone }}
            </p>
            <p *ngIf="user.location">
              <span style="font-weight: 500"> Última localização: </span>
              <span *ngIf="user.location.address">{{
                user.location.address
              }}</span>
              <span *ngIf="!user.location.address">carregando...</span>
            </p>
            <p>
              <span style="font-weight: 500">Intervalo de atualizações: </span>
              <ng-container
                *ngIf="user.status === 'OFFLINE'; else elseTemplate"
              >
                Desabilitado
              </ng-container>
              <ng-template #elseTemplate>
                <span *ngIf="user.locationUpdate">{{
                  user.locationUpdate
                }}</span>
                <span *ngIf="!user.locationUpdate">Desabilitado</span>
              </ng-template>
            </p>
          </div>
        </agm-info-window>
      </agm-overlay>
    </agm-map>
  </ng-template>
</div>
